body,
html {
  height: 100%;
}
.bg {
  background-image: url("../../static/groups2.png");
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: darkgray;
}
