/* .styles_overlay-wrapper__O0Zm8
  .styles_overlay-content__1qZR_
  .styles_overlay-close__3e1ke {
  top: 0;
  right: 0;
  position: absolute;
  cursor: pointer;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  margin-right: 1%;
} */
.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  overflow-y: auto;
  max-height: 40vh;
}

.attrImportance {
  height: 20vh;
  overflow-y: auto;
}
